body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: rgb(13, 13, 13);
    --secondary-color: rgb(246, 247, 251);
    --tertiary-color: white;
    --shadow-1: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container {
    display: grid;
    grid-template-rows: 225px 1fr;
    grid-template-columns: 300px 1fr;
}
#sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;
    padding: 20px 35px;
}
#sidebar svg {
    fill: white;
    height: 1.6em;
}
#sidebar a {
    color: white;
    text-decoration: none;
}
#logo, .sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
#logo {
    font-size: 2em;
}
.sidebar-item {
    font-size: 1.6em;
    height: 50px;
    border: 2px solid var(--primary-color);
}
.sidebar-item:not(.filler):hover {
    border: 2px solid white;
    transform: scale(1.05);
    transition: 0.5s;
}
#header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--tertiary-color);
    z-index: 3;
    box-shadow: var(--shadow-1);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#toprow {
    display: grid;
    grid-template-columns: 1fr 250px;
}
#nav {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
#profile {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
#profile a {
    color: black;
    text-decoration: none;
}
#profile:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
#toprow svg {
    height: 2.5em;
}
input[type="search"] {
    border-radius: 20px;
    border: 0;
    background-color: rgb(185, 186, 190);
    width: 80%;
    height: 40%;
    font-size: 2em;
    padding: 20px;
}
input[type="search"]:focus {
    transform: scale(1.02);
    transition: 2s;
}
#toprow img {
    height: 4em;
    border-radius: 4em;
}
#bottomrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 40px;
}
#bottomrow>* {
    padding: 10px;
}
#actions {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: end;
}
#actions a {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    width: 20%;
    border-radius: 25px;
}
#actions a:hover {
    background-color: rgb(98, 98, 99);
    transform: scale(1.1);
    transition: 0.5s;
}
#main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 250px;
    overflow: auto;
    padding-bottom: 20px;
    padding-right: 20px;
}
.heading {
    font-size: 2em;
    color:  rgb(82, 82, 83);
}
.heading:hover {
    text-decoration: underline;
    cursor: pointer;
} 
#projects {
    padding: 0 20px;
}
#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
#projects-grid .card {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    box-shadow: var(--shadow-1);
    z-index: 2;
    position: relative;
    height: auto;
    cursor: pointer;
}
#projects-grid .card:hover {
    border: 2px solid black;
    transform: scale(1.05);
    transition: 0.5s;
}
#projects svg {
    width: 1.4em;
}
#projects-grid .card .card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#projects-grid .card .card-buttons svg:hover {
    fill: rgb(82, 82, 83);
    transform: scale(1.2);
}
#projects-grid .card img {
    width: 100%;
    border-radius: 8px;
}
#announcements #cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#announcements .card {
    background-color: white;
    box-shadow: var(--shadow-1);
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    cursor: context-menu;
}
#trending .cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#trending .cards .card{
    background-color: white;
    box-shadow: var(--shadow-1);
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 5em;
}
#trending .cards .card img{
    width: 3em;
    height: 3em;
    border-radius: 3em;
}
#trending .cards .card .title{
    font-weight: 1000;
    font-size: 1.2em;
    margin-bottom: 4px;
}
#trending .cards .card .paragraph{
    font-weight: 100;
    font-size: 0.8em;
    margin-top: 0;
}
#trending .cards .card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}